.about {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.aboutImg {
    width: 300px;
    height: 300px;
}
.aboutItem > img {
    margin-top: 15px;
}
.aboutItem > p {
    padding: 30px;
}
.aboutList {
    list-style: none;
    margin-bottom: 30px;
}
.aboutListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
}