.blog {

    width: 385px;
    margin: 80px 25px 40px 25px;
}
.blogImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}
.blogInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogCat {
    font-size: 18px;
    color: #be9656;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.blogTitle {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}
.blogDesc {
    font-size: 18px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-box-orient: vertical;

}