

.dwsMenu ul,
.dwsMenu ol {
    list-style: none;
    padding-right: 300px;
    z-index: 3;
}

.dwsMenu > ul {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.dwsMenu > ul li a {
    display: block;
    width: 90%;
    letter-spacing: 2px;
    background: #ececed;
    padding: 15px 40px 0px 60px;
    font-size: 16pt;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.6s ease;
}
.dwsMenu > ul li {
    width: 100%;
    position: relative;
    border-right: 1px solid #b2b3b5;
}

.dwsMenu > ul li:first-child {
    border-left: 1px solid #b2b3b5;
}

.dwsMenu > ul li:last-child {
    border-right: 1px solid #b2b3b5;
}

.dwsMenu li a:hover {
    background: #65BA6E;
    color: #fff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.6s ease;
}

.dwsMenu li ul {
    position: absolute;
    min-width: 200px;
    display: none;
}

.dwsMenu li > ul li {
    border: 1px solid #c7c8ca;
}

.dwsMenu li > ul li a {
    padding: 10px;
    text-decoration: none;
    background: #e4e4e5;
}

.dwsMenu li:hover > ul {
    display: block;
}
