.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ModalContant {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.ModalContant button {
    margin-top: 20px;
}