.Notification {
    visibility: visible !important;
}
.Notification .MuiAlert-root {
    background-color: rgb(50, 50, 50);
}
.Notification .MuiAlert-icon {
    display: none;
}
.Notification svg {
    color: white;
}
.NotificationTitle {
    color: white;
}
.NotificationMessage {
    color: white;
}
.NotificationContent .checkbox_svg {
    width: 20px;
}
.NotificationContent .checkbox_line {
    fill: none;
    stroke: #F00;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-dasharray: 0, 154;
}

